<span class="text-center">
	<h1>Editing Resturant</h1>

	<%= render 'form', location: @location %>
	<div class="text-center">
	<%= link_to 'Show', @location%> |
	<%= link_to 'Back', locations_path %>
	</div>
</span>
